<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Tenant</h4>
    <button
        aria-label="Close"
        class="btn-sm btn "
        type="button">
        <span aria-hidden="true">
            <i class="fa fa-icons fa-close"></i>
        </span>
    </button>
</div>
<div class="modal-body">
    <p>Are you sure, you want to delete tenant "<b>{{ tenant.domain }}</b>" ?</p>
    <div class="align-items-end">
        <button class="btn btn-secondary btn-md" type="button">No</button>
        <button (click)="onYes()" class="btn btn-primary btn-md m-2" type="button">Yes</button>
    </div>
</div>

