
include mime.types;

server {
    listen ${PORT};
    server_name GL-INGRESS;

    root /home/static/;
    index index.html index.html index.php;

    location ^~ /api {
        proxy_pass ${AUTH_SERVER};
    }

}
