<form #updateTenantForm="ngForm"
      (ngSubmit)="updateTenantForm.form.valid && onSubmit()"
      class="p-fluid"
      name="updateTenantForm"
      novalidate>
    <div class="mb-3 field">
        <label class="form-label px-1" for="update.tenant.name">Name</label>
        <input #name="ngModel"
               [(ngModel)]="form.name"
               class=""
               id="update.tenant.name"
               name="name"
               pInputText
               required type="text">
        <div
            *ngIf="name.errors && updateTenantForm.submitted"
            class="alert alert-danger"
            role="alert">
            Name is required!
        </div>
    </div>
    <div class="mb-3 field">
        <label class="form-label px-1" for="update.tenant.domain">Domain</label>
        <input #domain="ngModel"
               [(ngModel)]="form.domain"
               aria-describedby="emailHelp"
               class=""
               id="update.tenant.domain"
               name="domain"
               pInputText
               required type="text">
        <div
            *ngIf="domain.errors && updateTenantForm.submitted"
            class="alert alert-danger"
            role="alert">
            Domain is required!
        </div>
    </div>

    <div class="field mt-4 col-4">
        <button label="Update" pButton type="submit"></button>
    </div>

</form>
