<form #editUserForm="ngForm"
      (ngSubmit)="editUserForm.form.valid && onSubmit()"
      class="p-fluid"
      name="editUserForm"
      novalidate>
    <div class="mb-3 field">
        <label class="form-label px-1" for="edit.user.name">Name</label>
        <input #name="ngModel"
               [(ngModel)]="form.name"
               class=""
               id="edit.user.name"
               name="name"
               pInputText
               required type="text">
        <div
            *ngIf="name.errors && editUserForm.submitted"
            class="alert alert-danger"
            role="alert">
            Name is required!
        </div>
    </div>
    <div class="mb-3 field">
        <label class="form-label px-1" for="edit.user.email">Email address</label>
        <input #email="ngModel"
               [(ngModel)]="form.email"
               class=""
               id="edit.user.email"
               name="email"
               pInputText
               required type="email">
        <div
            *ngIf="email.errors && editUserForm.submitted"
            class="alert alert-danger"
            role="alert">
            Email is required!
        </div>
    </div>

    <div class="mb-3 field">
        <label class="form-label px-1" for="edit.user.password">Password</label>
        <input #password="ngModel"
               [(ngModel)]="form.password"
               class=""
               id="edit.user.password"
               name="password"
               pInputText
               type="password">
        <div
            *ngIf="password.errors && editUserForm.submitted"
            class="alert alert-danger"
            role="alert">
            Email is required!
        </div>
    </div>

    <div class="field mt-4 col-4">
        <button label="Update" pButton type="submit"></button>
    </div>
</form>

