<form class="p-fluid">
    <div class="flex mb-3 field">
        <p-multiSelect [(ngModel)]="selectedScopes" [filter]=false
                       [options]="scopes"
                       class="d-grid"
                       defaultLabel="Assigned Roles"
                       display="chip"
                       id="add.role.name"
                       name="name"
                       optionLabel="name">
        </p-multiSelect>
    </div>


    <div class="field mt-4 col-4">
        <button (click)="onSubmit()" label="Update Scope" pButton type="submit"></button>
    </div>
</form>
