<div class="container">
    <div class="row align-items-center">
        <div class="col-md-12 vh-100">
            <div *ngIf="loading" class="align-middle text-center" style="padding-top:25%">
                <div class="spinner-border m-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div *ngIf="!loading" class="card card-container">
                <img
                    alt=""
                    class="profile-img-card"
                    id="profile-img"
                    src="/assets/logo-img.jpg"/>

                <div >
                    <div class="text-center">
                        Logged in as
                    </div>

                    <div class="text-center">
                        <b>{{ username }}</b>
                    </div>

                    <div class="form-group d-grid gap-2 py-3 ">
                        <button class="btn btn-primary btn-block btn-lg" (click)="onContinue()">
                            Continue
                        </button>
                    </div>

                    <hr>

                    <div class="form-group d-grid gap-2 ">
                        <button class="btn btn-danger btn-block btn-lg" (click)="onLogout()">
                            Logout
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

