<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Tenant</h4>
    <button (click)="activeModal.close('Cross click')"
            aria-label="Close"
            class="btn-sm btn "
            type="button">
        <span aria-hidden="true">
            <i class="fa fa-icons fa-close"></i>
        </span>
    </button>
</div>
<div class="modal-body">
    <form #createTenantForm="ngForm"
          (ngSubmit)="createTenantForm.form.valid && onSubmit()"
          name="createTenantForm"
          novalidate>
        <div class="mb-3 form-group">
            <label class="form-label" for="create.tenant.name">Name</label>
            <input #name="ngModel"
                   [(ngModel)]="form.name"
                   class="form-control"
                   id="create.tenant.name"
                   name="name"
                   required type="text">
            <div
                *ngIf="name.errors && createTenantForm.submitted"
                class="alert alert-danger"
                role="alert">
                Name is required!
            </div>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label" for="create.tenant.domain">Domain</label>
            <input #domain="ngModel"
                   [(ngModel)]="form.domain"
                   aria-describedby="emailHelp"
                   class="form-control"
                   id="create.tenant.domain"
                   name="domain"
                   required type="text">
            <div
                *ngIf="domain.errors && createTenantForm.submitted"
                class="alert alert-danger"
                role="alert">
                Domain is required!
            </div>
        </div>


        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>
