<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign Role</h4>
    <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="flex mb-3">
            <p-multiSelect [(ngModel)]="selectedRoles" [options]="roles"
                           class="d-grid"
                           defaultLabel="Assigned Roles"
                           display="chip"
                           id="add.role.name"
                           name="name"
                           optionLabel="name"></p-multiSelect>
        </div>


        <button (click)="onSubmit()" class="btn btn-primary" type="submit">Add</button>
    </form>
</div>
