<form #addScopeForm="ngForm"
      (ngSubmit)="addScopeForm.form.valid && onSubmit()"
      class="p-fluid"
      name="addScopeForm"
      novalidate>
    <div class="mb-3 field">
        <label class="form-label px-1" for="add.scope.name">Scope Name</label>
        <input #name="ngModel"
               [(ngModel)]="form.name"
               class=""
               id="add.scope.name"
               name="name"
               pInputText
               required type="text">

        <div
            *ngIf="name.errors && addScopeForm.submitted"
            class="alert alert-danger"
            role="alert">
            Scope Name is required!
        </div>
    </div>

    <div class="field mt-4 col-4">
        <button label="Add Scope" pButton type="submit"></button>
    </div>

</form>
