<admin-nav-bar></admin-nav-bar>
<div *ngIf="!loading" class="container-fluid">

    <div class="row mb-2">
        <h4>Role Assignment</h4>

        <div class="col-6">
            <div class="row mb-2">
                <div class="col-auto ">
                    <div class="form-group input-group">
                        <span class="input-group-text" style="min-width: 5rem;">User </span>
                        <input
                            class="form-control text-truncate"
                            readonly
                            required
                            type="text"
                            value="{{email}}"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-auto">
                    <div class="form-group input-group">
                        <span class="input-group-text" style="min-width: 5rem;">Tenant </span>
                        <input
                            class="form-control text-truncate"
                            readonly
                            required
                            type="text"
                            value="{{tenant.domain}}"
                        />
                    </div>
                </div>
            </div>
        </div>


        <div class="col-6">
            <div class="row mt-2 ">
                <div class="col ">
                    <app-value-help-input
                        (dataProvider)="provideRoles($event)"
                        [(selection)]="selectedRoles"
                        class="col-3"
                        idField="id"
                        labelField="name"
                        multi="true"
                        name="Roles">

                        <app-vh-col label="Name" name="name"></app-vh-col>

                        <ng-template #vh_body let-row>
                            <td>{{ row.name }}</td>
                        </ng-template>

                    </app-value-help-input>

                    <button (click)="onAddRole()"
                            class="btn btn-primary btn-sm mt-2">
                        Assign Role
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-xl-12">
            <div class="card my-2">
                <p-table [value]="member.roles" responsiveLayout="scroll">
                    <ng-template pTemplate="caption">
                        <div class="d-flex justify-content-between">
                            <h5>Role List</h5>
                        </div>

                    </ng-template>
                    <ng-template let-columns pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template let-columns="columns" let-role pTemplate="body">
                        <tr>
                            <td><span class="p-column-title">Name</span>{{ role.name }}</td>
                            <td>
                                <button (click)="onRemoveScope(role)"
                                        *ngIf="role.removable"
                                        class="btn btn-sm"
                                        type="button">
                                    <i class="fa fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="">
        </div>

    </div>
</div>

