<form #createUserForm="ngForm"
      (ngSubmit)="createUserForm.form.valid && onSubmit()"
      class="p-fluid"
      name="createUserForm"
      novalidate>
    <div class="mb-3 field">
        <label class="form-label px-1" for="create.user.name">Name</label>
        <input #name="ngModel"
               [(ngModel)]="form.name"
               class=""
               id="create.user.name"
               name="name"
               pInputText
               required
               type="text">
        <div
            *ngIf="name.errors && createUserForm.submitted"
            class="alert alert-danger"
            role="alert">
            Name is required!
        </div>
    </div>
    <div class="mb-3 field">
        <label class="form-label px-1" for="create.user.email">Email address</label>
        <input #email="ngModel"
               [(ngModel)]="form.email"
               aria-describedby="emailHelp"
               class=""
               id="create.user.email"
               name="email"
               pInputText
               required type="email">
        <div
            *ngIf="email.errors && createUserForm.submitted"
            class="alert alert-danger"
            role="alert">
            Email is required!
        </div>
    </div>

    <div class="mb-3 field">
        <label class="form-label px-1" for="create.user.password">Default Password</label>
        <input #password="ngModel"
               [(ngModel)]="form.password"
               class=""
               id="create.user.password"
               name="password"
               pInputText
               required type="password">
        <div
            *ngIf="password.errors && createUserForm.submitted"
            class="alert alert-danger"
            role="alert">
            Password is required!
        </div>
    </div>

    <div class="field mt-4 col-4">
        <button label="Create" pButton type="submit"></button>
    </div>
</form>
