<form #addMemberForm="ngForm"
      (ngSubmit)="addMemberForm.form.valid && onSubmit()"
      class="p-fluid"
      name="addMemberForm"
      novalidate>
    <div class="mb-3 field">
        <label class="form-label px-1" for="add.member.name">Email</label>
        <input #email="ngModel"
               [(ngModel)]="form.email"
               class=""
               id="add.member.name"
               name="email"
               pInputText
               required type="email">
        <div
            *ngIf="email.errors && addMemberForm.submitted"
            class="alert alert-danger"
            role="alert">
            Email is required!
        </div>
    </div>

    <div class="field mt-4 col-4">
        <button label="Add Member" pButton type="submit"></button>
    </div>

</form>
