<nav class="navbar navbar-expand-lg bg-secondary" ngbNav>
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/home">
        <img alt="" class="rounded-circle mx-2" height="30" src="/assets/logo-img.jpg" width="30">
        My Identity
    </a>
    <button aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            (click)="isCollapsed = !isCollapsed"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav px-2 w-100">
            <li [ngbNavItem]="3" class="nav-item" class="ms-auto" ngbDropdown placement="bottom-left">
                <a class="nav-link mt-1"
                   id="dropdownUser1"
                   ngbDropdownToggle>
                    <span class="mt-1">{{ email }}</span>
                </a>
                <div aria-labelledby="dropdownUser1"
                     class="dropdown-menu text-small shadow" ngbDropdownMenu>
                    <a href="#" ngbDropdownItem>Settings</a>
                    <a href="javascript:void(0)"
                       ngbDropdownItem
                       (click)="openProfileModal()">Profile</a>
                    <hr class="dropdown-divider">
                    <a (click)="logout()" href="javascript:void(0)" ngbDropdownItem>
                        Sign Out
                    </a>
                </div>

            </li>
        </ul>
    </div>
</nav>
