<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Remove Member</h4>
    <button
        aria-label="Close"
        class="btn-sm btn "
        type="button">
        <span aria-hidden="true">
            <i class="fa fa-icons fa-close"></i>
        </span>
    </button>
</div>
<div class="modal-body">
    <p>Sure, you want to remove member "<b>{{ member.email }}</b>" ?</p>
    <div>
        <button class="btn btn-secondary btn-md" type="button">No</button>
        <button (click)="onYes()" class="btn btn-primary btn-md m-2" type="button">Yes</button>
    </div>
</div>

